@page
@model UOAmarking.Views.Homes.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="./images/logo.png" alt="logo" />
            </div>
            <div class="nav-items">
                <a href="">Home</a>
                <a href="">Applications</a>
                <a href="">Courses</a>
                <a href="">Markers</a>
                <a href="">Supervisor</a>
            </div>


            <div class="user">
                <img src="./images/user.png" />
                <div>
                    username
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="items">
                Applications
            </div>
            <div class="items">
                Manage Course
            </div>
            <div class="items">
                Pre-Assignment Makers
            </div>
        </div>
    </div>

</body>
</html>

